body {
    background: $color-bg;
    color: $color-primary;
}

.navbar-dark {
    background: $color-third;
}

.img-full {
    width: 100%;
}

a {
    color: $color-link;
    &:hover {
        text-decoration: none;
    }
}

.primary-color {
    color: $color-link !important ;
}

button {
    color: $color-primary;
}

a.btn {
    color: white;
}
